<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head.ejs')  %> 
    <link rel="stylesheet" href="/css/editsStyle.css">
    <link rel="icon" type="image/png" href="/img/logo-futbolXI.png"/>
    <script defer src="/js/editValidation.js"></script>

    <title> Editar producto </title>

</head>
<body>
    <header>
        <%- include('../partials/header.ejs')  %> 

    </header>
    <main>
        <section>
            <h1> Editar producto</h1>
            <form action="/update?m=PUT" method="post" class="formulario-registro" enctype="multipart/form-data">
                <input type="hidden" name="id" value="<%=product.id %>">
                <label for="nombre"> Nombre del producto </label>
                <input id="nombre" type="text" " name="nombre" value="<%= product.nombre %>" required>
                <div class="errores"  id="errorNombre"></div>
                <% if (locals.errores && locals.errores.nombre) { %>
                    <p>
                        <%= locals.errores.nombre.msg %> 
                    </p>
                <% } %>
                <label for="marca"> Marca </label>
                <span>
                    <input type="radio" name="marca" value="1" id="Adidas" <%= product.marca_id == 1 ? "checked" : "" %>>
                    <label for="Adidas"> Adidas </label>
                </span>
                <span>
                    <input type="radio" name="marca" value="2" id="Nike" <%= product.marca_id == 2 ? "checked" : "" %>>
                    <label for="Nike"> Nike </label>
                </span>
                <span>
                    <input type="radio" name="marca" value="3" id="Puma" <%= product.marca_id == 3 ? "checked" : "" %>>
                    <label for="Puma"> Puma </label>
                </span>
                <label for="terreno"> Tipo de terreno </label>
                <span>
                    <input type="radio" name="terreno" value="Firme" id="Firme" <%= product.categoria == "Firme" ? "checked" : "" %>>
                    <label for="Firme"> Firme </label>
                </span>
                <span>
                    <input type="radio" name="terreno" value="Blando" id="Blando" <%= product.categoria == "Blando" ? "checked" : "" %>>
                    <label for="Blando"> Blando </label>
                </span>
                <label for="Price"> Precio </label>
                <input id="precio" type="number" name="precio" value="<%= product.precio %>" required>
                <div class="errores" id="errorPrecio"></div>

                <label for="oferta"> Está en oferta</label>
                <span>
                    <input type="radio" name="oferta" value="1" id="Si" <%= product.oferta == 1 ? "checked" : "" %>>
                    <label for="Si"> Si </label>
                </span>
                <span>
                    <input type="radio" name="oferta" value="0" id="No" <%= product.oferta == 0 ? "checked" : "" %>>
                    <label for="No"> No </label>
                </span>
                <label for="imagen"> Imagen </label>
                <input id="imagen" type="file" name="imagen" multiple>
                <div class="errores" id="errorImagen"></div>
                <% if (locals.errores && locals.errores.imagen) { %>
                    <p>
                        <%= locals.errores.imagen.msg %> 
                    </p>
                <% } %>
              
                <label for="descripcion"> Descripción </label>
                <textarea name="descripcion" id="descripcion" cols="30" rows="10"><%= product.descripcion %> </textarea required>
                    <div class="errores" id="errorDescripcion"></div>
                    <% if (locals.errores && locals.errores.descripcion) { %>
                        <p>
                            <%= locals.errores.descripcion.msg %> 
                        </p>
                    <% } %>
                
                <div class="botones">
                    <button id="editar" type="submit"> Editar </button>
                    <button type="reset"> Borrar </button>
                </div>
            </form>
        </section>
    </main>
    <footer>
        <%- include('../partials/footer.ejs')  %> 
    </footer>
</body>
</html>