<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head.ejs')  %> 
    <link rel="stylesheet" href="/css/createStyle.css">
    <link rel="icon" type="image/png" href="/img/logo-futbolXI.png"/>
    <script defer src="./js/productValidation.js"></script>

    <title> Crear producto </title>
</head>
<body>
    <header>
        <%- include('../partials/header.ejs')  %> 

    </header>
    <main>
        <section class="footerout">
            <h1> Nuevo producto</h1>
            <form action="/save" method="post" class="formulario-registro" enctype="multipart/form-data">
                <label for="nombre"> Nombre del producto </label>
                <input id="nombre" type="text" name="nombre" required>
                <div class="errores" id="errorNombre"></div>
                <input type="text" name="nombre" required>
                <% if (locals.errores && locals.errores.nombre) { %>
                    <p>
                        <%= locals.errores.nombre.msg %> 
                    </p>
                <% } %>
               
                <label for="marca"> Marca </label>

                <span>
                    <input type="radio" name="marca" value= "1" id="Adidas">
                    <label for="Adidas"> Adidas </label>
                </span>
                <span>
                    <input type="radio" name="marca" value="2" id="Nike">
                    <label for="Nike"> Nike </label>
                </span>
                <span>
                    <input type="radio" name="marca" value="3" id="Puma">
                    <label for="Puma"> Puma </label>
                </span>
                <label for="terreno"> Tipo de terreno </label>
                <span>
                    <input type="radio" name="terreno" value="Firme" id="Firme">
                    <label for="Firme"> Firme </label>
                </span>
                <span>
                    <input type="radio" name="terreno" value="Blando" id="Blando">
                    <label for="Blando"> Blando </label>
                </span>
                <label for="precio"> Precio </label>
                <input id="precio" type="number" name="precio" required>
                <div class="errores" id="errorPrecio"></div>

                <label for="oferta"> Está en oferta</label>
                <span>
                    <input type="radio" name="oferta" value="1" id="Si">
                    <label for="Si"> Si </label>
                </span>
                <span>
                    <input type="radio" name="oferta" value="0" id="No">
                    <label for="No"> No </label>
                </span>
                <label for="imagen"> Imagen </label>
                <input id="imagen" type="file" name="imagen" multiple>
                <div class="errores" id="errorImagen"></div>
                <input type="file" name="imagen" multiple>
                <% if (locals.errores && locals.errores.imagen) { %>
                    <p>
                        <%= locals.errores.imagen.msg %> 
                    </p>
                <% } %>
                
                <label for="descripcion"> Descripción </label>
                <textarea name="descripcion" id="descripcion" cols="30" rows="10"></textarea required>
                    <div  class="errores" id="errorDescripcion"></div>
                    <% if (locals.errores && locals.errores.descripcion) { %>
                        <p>
                            <%= locals.errores.descripcion.msg %> 
                        </p>
                    <% } %>
                   
                <div class="botones">
                    <button id="create" type="submit"> Crear </button>
                    <button type="reset"> Borrar </button>
                </div>
            </form>
        </section>
    </main>
    <footer>
        <%- include('../partials/footer.ejs')  %> 
    </footer>
</body>
</html>