<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head.ejs')  %> 
    <link rel="stylesheet" href="\css\list.css">
</head>
    <body>
        <header>
            <%- include('../partials/header.ejs')  %> 

        </header>
        <main>
            <a href="/create"><i class="fa-solid fa-plus"></i></a>
            <section> 
                <h3>Adidas</h3>
                
                <section class="ofertas">

                    <% products.filter(elemento => {if (elemento.marca === "Adidas") { %> 
        
                    <%- include("../partials/products.ejs",{elemento:elemento}) %> 
                    <%}});%> 
                </section>
            </section>
            <section>
                <h3>Nike</h3>
                <section class="ofertas">
                    <% products.filter(elemento => {if (elemento.marca === "Nike") { %> 
        
                        <%- include("../partials/products.ejs",{elemento:elemento}) %> 
                        <%}});%> 
                </section>
            </section>

            <section>
                <h3>Puma</h3>
                <section class="ofertas">
                    <% products.filter(elemento => {if (elemento.marca === "Puma") { %> 
        
                        <%- include("../partials/products.ejs",{elemento:elemento}) %> 
                        <%}});%> 
                </section>
            </section>
        </main>
        <footer>
            <%- include('../partials/footer.ejs')  %> 
        </footer>
    </body>
</html>
