<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head.ejs')  %>  
    <link rel="stylesheet" href="/css/productDetail.css">
    <link rel="icon" type="image/png" href="/img/logo-futbolXI.png"/>
    <title> Detalle de producto </title>

</head>
<body>
    <header>
        <%- include('../partials/header.ejs')  %> 

    </header>
    <main> 
        
        <section class="productComple">
            <% if (product) { %>
                <article class="prueba1">

                    <picture>
                        <img src="/img/Botines/<%= product.imagen[0] %> " alt="">
                    </picture>
                
                    <article class="minimagenes">
                        <img class="minimagenes1" src="\img\Botines/<%= product.imagen[0] %>">
                        <img class="minimagenes2" src="\img\Botines/<%= product.imagen[1] %>">
                        <img class="minimagenes3" src="\img\Botines/<%= product.imagen[2] %>">
                    </article>
                    
                </article>
                
                
                <article class="prueba2">
                    <h2 class="empuje"><%= product.nombre %> </h2>
                    <section class="linial">
                        <article class="formulario">
                            <label>Talle</label>
                                <select name="TalleDecCalzado" class="diseño">
                                    <option value="Talla">36</option>
                                    <option value="Talla">37</option>
                                    <option value="Talla">38</option>
                                    <option value="Talla">39</option>
                                    <option value="Talla">40</option>
                                    <option value="Talla">41</option>
                                    <option value="Talla">42</option>
                                    <option value="Talla">43</option>
                                    <option value="Talla">44</option>
                                    <option value="Talla">45</option>
                                    <option value="Talla">46</option>
                                    <option value="Talla">47</option>
                                    <option value="Talla">48</option>
                                </select>
                        </article>
                        <br>
                        <article class="formulario">
                            <label>Cantidad</label>
                                <select name="CantidaDeBot" class="diseño">
                                    <option value="Cant">1</option>
                                    <option value="Cant">2</option>
                                    <option value="Cant">3</option>
                                    <option value="Cant">4</option>
                                    <option value="Cant">5</option>
                                </select>
                        </article>
                    </section>
                    
                
                    <div class="descripcion">
                        <p> Tipo de terreno: <%= product.terreno %>  </p>
                        <p> Precio: $<%= product.precio %> </p>
                    </div>
                
                    <button type="submit" class="agregar-carrito"><a href="/productCart"class="verde">Añadir al carrito</a></button>
                    
                
                </article>
                <article class="prueba3">
                    <h3>DETALLES:</h3>
                   <p> <%= product.descripcion %> </p>
                   <% } %> 
                </article> 
        </section> 
    </main>
    <footer>
        <%- include('../partials/footer.ejs')  %> 
    </footer>
</body>
</html>