<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head.ejs')  %> 
    <link rel="stylesheet" href="/css/editsStyle.css">
    <link rel="icon" type="image/png" href="/img/logo-futbolXI.png"/>
    <title> Editar producto </title>

</head>
<body>
    <header>
        <%- include('../partials/header.ejs')  %> 

    </header>
    <main>
        <section>
            <h1> Editar producto</h1>
            <form action="/update?m=PUT" method="post" class="formulario-registro" enctype="multipart/form-data">
                <input type="hidden" name="id" value="<%=product.id %>">
                <label for="nombre"> Nombre del producto </label>
                <input type="text" name="nombre" value="<%= product.nombre %>" required>
                <label for="marca"> Marca </label>
                <span>
                    <input type="radio" name="marca" value="Adidas" id="Adidas" <%= product.marca == "Adidas" ? "checked" : "" %>>
                    <label for="Adidas"> Adidas </label>
                </span>
                <span>
                    <input type="radio" name="marca" value="Nike" id="Nike" <%= product.marca == "Nike" ? "checked" : "" %>>
                    <label for="Nike"> Nike </label>
                </span>
                <span>
                    <input type="radio" name="marca" value="Puma" id="Puma" <%= product.marca == "Puma" ? "checked" : "" %>>
                    <label for="Puma"> Puma </label>
                </span>
                <label for="terreno"> Tipo de terreno </label>
                <span>
                    <input type="radio" name="terreno" value="Firme" id="Firme" <%= product.terreno == "Firme" ? "checked" : "" %>>
                    <label for="Firme"> Firme </label>
                </span>
                <span>
                    <input type="radio" name="terreno" value="Blando" id="Blando" <%= product.terreno == "Blando" ? "checked" : "" %>>
                    <label for="Blando"> Blando </label>
                </span>
                <label for="Price"> Precio </label>
                <input type="number" name="precio" value="<%= product.precio %>" required>
                <label for="oferta"> Está en oferta</label>
                <span>
                    <input type="radio" name="oferta" value="Si" id="Si" <%= product.oferta == "Si" ? "checked" : "" %>>
                    <label for="Si"> Si </label>
                </span>
                <span>
                    <input type="radio" name="oferta" value="No" id="No" <%= product.oferta == "No" ? "checked" : "" %>>
                    <label for="No"> No </label>
                </span>
                <label for="imagen"> Imagen </label>
                <input type="file" name="imagen" multiple>
                <label for="descripcion"> Descripción </label>
                <textarea name="descripcion" id="descripcion" cols="30" rows="10"><%= product.descripcion %> </textarea required>
                <div class="botones">
                    <button type="submit"> Editar </button>
                    <button type="reset"> Borrar </button>
                </div>
            </form>
        </section>
    </main>
    <footer>
        <%- include('../partials/footer.ejs')  %> 
    </footer>
</body>
</html>