<article>
    <a href="/productDetail/<%= elemento.id %> ">
        <img src="/img/Botines/<%=elemento.imagen[0]%> " alt="">
        <div class="descripcion">
            <h5> <%= elemento.nombre %></h5>
            <p> Terreno <%= elemento.terreno %> </p>
            <p> $<%= elemento.precio %> </p>
        </div>
        </a>

        <div class="contenedor">
        <% if (user && user.categoria === "Administrador"){%> 
            <form action="/borrar?m=DELETE" method ="post" class="eliminar">
                <input type="hidden" name= "id" value="<%= elemento.id %>"  >
                <button type="submit"><i class="fa-solid fa-trash-can"></i></button>
            </form>
            <button type="none" class="agregar-carrito"><a href="/productCart"class="verde">Añadir al carrito</a></button> 
            <a href="/edit/<%= elemento.id %> "><i class="fa-solid fa-pencil"></i></a>
        </div>
<% }if(!user){ %> 
    <button type="none" class="agregar-carrito"><a href="/productCart"class="verde">Añadir al carrito</a></button> 
      <%} %> 
            
</article>

