<li>
  <div class="tarjeta-usuario">
      <img src="/img/Usuarios/<%= element.imagen %>"  class="imagen-usuario"  alt="">
      <a href="/userProfile/<%= element.id %>">
        <span> <%= element.nombre %> <%= element.apellido %></span>
      </a>
      <p> <%= element.email %> </p>
  </div>
</li>