<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head.ejs')  %> 
    <link rel="stylesheet" href="/css/userEdit.css">
    <link rel="icon" type="image/png" href="/img/logo-futbolXI.png"/>
    <title> Edicion de usuario </title>

</head>
<body>
    <header>
        <%- include('../partials/header.ejs')  %>
    </header>
    <main>
        <section class="footerout">
            <h1>Editar Usuario</h1>
            <form action="/actualizar?m=PUT" method="post" class="formulario-registro" enctype="multipart/form-data">
                <input type="hidden" name="id" value="<%= user.id %>">
                <input type="hidden" name="categoria" value="<%= user.categoria %>">
                <label for="nombre"> Nombre </label>
                <input type="text" name="nombre" value="<%= user.nombre %>" required>
                <label for="apellido"> Apellido </label>
                <input type="text" name="apellido" value="<%= user.apellido %>" required>
                <label for="email"> Email</label>
                <input type="email" name="email" value="<%= user.email %>" required>
                <label for="clave"> Ingrese una contraseña </label>
                <input type="password" name="clave" value="<%= user.clave %>" required>
                <label for="confirmarClave"> Confirme su contraseña </label>
                <input type="password" name="confirmarClave" value="<%= user.clave %>" required>
                <label for="imagen"> Imagen de usuario </label>
                <input type="file" name="imagen">
                <div class="botones">
                    <button type="submit"> Editar </button>
                    <button type="reset"> Borrar </button>
                </div>
            </form>
        </section>
    </main>
    <footer>
        <%- include('../partials/footer.ejs')  %> 
    </footer>
</body>
</html>